.popup__container_tooltip {
    padding: 220.5px 0 288.5px;
}

.popup__tooltip-title {
    font-style: normal;
    font-weight: 800;
    font-size: 77px;
    line-height: 110.02%;
    text-align: center;
    letter-spacing: -0.05em;
    background: linear-gradient(145.08deg, #E61726 12.35%, #D4208C 83.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.popup__tooltip-text {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.05em;
    margin: 20px 0 0;
    padding: 0;
}

@media screen and (max-width: 1206px) {
    .popup__tooltip-title {
        font-size: 67px;
    }

    .popup__tooltip-text {
        font-size: 19px;
        line-height: 29px;
    }
}

@media screen and (max-width: 807px) {
    .popup__tooltip-title {
        font-size: 55px;
    }

    .popup__tooltip-text {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width: 500px) {
    .popup__container_tooltip {
        padding: 175.5px 0 174.95px;
    }

    .popup__tooltip-title {
        font-size: 35px;
    }

    .popup__tooltip-text {
        font-size: 14px;
        line-height: 19px;
        margin: 11.55px 57px 0;
    }
}

@media screen and (max-width: 426px) {
    .popup__tooltip-text {
        margin: 11.55px 50.72px 0;
    }
}