.App {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #3A3A3A;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
